<div dir="ltr" style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;font-size:14px;line-height:1.5;color:#222;">
<div>Hi {{first_name}},</div>
<div><br></div>
<div>Mudassir here from Collabscafe. Your brand <b>{{brand_name}}</b> is live on CC.</div>
<div><br></div>
<div>Two things to make it easy:</div>
<div><br></div>
<div>1. You can post your first campaign in 2 minutes. Describe what you want, let AI draft the brief, and creators come to you.</div>
<div><a href="https://collabscafe.com/post-campaign" style="color:#1155cc;">https://collabscafe.com/post-campaign</a></div>
<div><br></div>
<div>2. You can also send a custom offer to any creator you like. No payment moves until they accept.</div>
<div><br></div>
<div>If you get stuck somewhere, hit reply. I'll be here.</div>
<div><br></div>
<div>Mudassir Gadit</div>
<div>Founder, Collabscafe</div>
<div><a href="https://collabscafe.com" style="color:#1155cc;">collabscafe.com</a></div>
</div>
